body{
	background:#2f363d;
}
div.div_top{
	position:fixed;
	left:0;
	top:0;
	background:#14191e;
	color:#ffffff;
	height:50;
	width:100%;
	z-index:999;
}
div.div_left{
	position:fixed;
	left:0;
	top:50;
	background:#24292e;
	width:100;
	height:100%;
}
div.div_center{
	position:absolute;
	top:60px;
	left:20%;
	width:80%;
	height:80%;
}
span.span_top_text_wrapper{
	position:absolute;
	color:#ffffff;
	left:70;
}
img.img_logo{
	height:50;
	width:70;
}
img.img_left{
	height:70;
	width:70;
}
a:link{
	color:#EEEEEE;
}
a:hover{
	color:#AAAAAA;
}
a:visited{
	color:#EEEEEE;
}
p.p_left{
	position:relative;
	left:10px;
	color:#FFFFFF;
}
div.div_left_tags{
	position:relative;
	left:20%;
}