div.div_center_selector{
	color:#FFFFFF;
	float:left;
	width:200px;
	height:300px;
	border:solid 1px #FFFFFF;
	border-radius:10px;
	margin:10px;
	padding:20px;
	transition:transform 0.3s;
}
div.div_center_selector:hover{
	transform-orgin:50px 50px;
	transform:scale(0.95,0.95);
}